{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Forgot Password</title>{% endblock %}
{% block content %}

	<div class="container py-5">
		<h1 class="mb-5 text-center">Forgot Password</h1>
		<form method="POST" action="{% url 'account:forgot_password'  %}">
			{% csrf_token %}
			{{ form|crispy }}                   
			<button class="btn btn-primary d-grid gap-2 col-6 mx-auto fw-bold mt-5" type="submit">submit</button>
		</form>
		<p class="text-center h6 mt-5 fw-bold">If you know your password <a href="{% url 'account:login' %}"  style="text-decoration: none;">login</a> instead</p>
		<p class="text-center h6 mt-2 fw-bold">Contact <a href="{% url 'account:anonymous_contact' %}"  style="text-decoration: none;">Admin</a></p>
	</div>

{% endblock %}