{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Reset password Question</title>{% endblock %}
{% block content %}

	<div class="container py-5">
		<h1 class="mb-5 text-center">Enter your answer for secret question to change password</h1>
		<form method="POST" action="{% url 'account:reset_password_check_qn' id %}">

			{% csrf_token %}
			<div class="mb-3">
				<p class="fw-bold">{{qn}}</p>
			</div>
			{{form|crispy}}

			<button class="btn btn-primary d-grid gap-2 col-6 mx-auto fw-bold mt-5" type="submit">submit</button>
		</form>
	</div>

{% endblock %}