{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Ticket</title>{% endblock %}
{% block content %}

    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-md text-light navbar-nav-scroll fixed-top py-4" id="nav">
        <div class="container">
            <p href="" class="navbar-brand"><span class="h3">Educator Dashboard</span></p>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar"
                id="navbar-toggler">
                <i class="fas fa-angle-down" id="toggle-button"></i>
            </button>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    {% if request.user.user_profile_educator %}
                        <li class="nav-item"><a href="{% url 'educator_dashboard' %}" class="nav-link text-light lead"><span
                            id="nav-link">Dashboard</span></a></li> 
                    {% elif request.user.user_profile_student %}
                        <li class="nav-item"><a href="{% url 'student_dashboard' %}" class="nav-link text-light lead"><span
                        id="nav-link">Dashboard</span></a></li>
                    {% endif %}
                
                    <li class="nav-item"><a href="{% url 'account:profile'  %}" class="nav-link text-light lead"><span
                        id="nav-link">Profile</span></a></li>   
                </ul>
            </div>
        </div>
    </nav>
  <!-- end navbar -->

  <!-- Ticket -->
  <div class="container py-5 mt-5">
    <h1 class="mb-5 text-center mt-5">Ticket</h1>
    <form method="POST" action="{% url 'account:create_ticket' %}">

      {% csrf_token %}
      {{ form|crispy}}

      <button class="btn btn-primary d-grid gap-2 col-6 mx-auto fw-bold mt-5" type="submit">Submit</button>
    </form>
  </div>

{% endblock %}